@media only screen and (max-width:360px) {

    /*Cabecalho*/
    .header1 {
        width: 360px;
        height: 760px;
    }

    .linha-separadora {
        margin-top: 15px;
        height: 1px;
        color: #707070;
        width: 255px;
        position: absolute;
        margin-left: 48px;
    }

    #btn-mobile{
        display: inline-block !important;
        margin-left: 37px;

    }

    #btn-mobile1{
        display: inline-block !important;
        margin-left: 37px;

    }

    #btn-mobile2{
        display: inline-block !important;
        margin-left: 37px;

    }

    #btn-mobile3{
        display: inline-block !important;
        margin-left: 37px;

    }

    #menu{
        display: none !important;
        margin-left: -215px;
    }

    #menu1{
        display: none !important;
        margin-left: -235px;
    }

    #menu2{
        display: none !important;
        margin-left: -235px;
    }

    #menu3{
        display: none !important;
        margin-left: -235px;
    }


    #barra-de-nav.active #menu{
        display: block !important;

 
    
    }

    .barra-de-navegacao li a:hover{
        color:white !important;
      
       
        }

        .barra-de-navegacao-rodape li:hover ul, .menu li.over ul{
          
            color:white !important;
        }

    #barra-de-nav1.active #menu1{
        display: block !important;
 
    
    }

    #barra-de-nav2.active #menu2{
        display: block !important;
 
    
    }

    #barra-de-nav3.active #menu3{
        display: block !important;
 
    
    }


    .barra-de-navegacao li ul {
        background-color: #D59D54 !important;
        margin-left: 0px !important;
        box-shadow: -1px 7px 18px grey;
        
    }

    #barra-de-nav.active{
        background-color: #D59D54 ;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0px;
        text-align: left;
        position: absolute  ;
        width: 100%;
        
    }

    #barra-de-nav1.active{
        background-color: #D59D54 ;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0px;
        text-align: left;
        position: absolute  ;
        width: 100%;
        
    }

    #barra-de-nav2.active{
        background-color: #D59D54 ;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0px;
        text-align: left;
        position: absolute  ;
        width: 100%;
        
    }

    #barra-de-nav3.active{
        background-color: #D59D54 ;
        padding-top: 30px;
        padding-bottom: 30px;
        margin-left: 0px;
        text-align: left;
        position: absolute  ;
        width: 100%;
        
    }
    
    .padding-22px{
        padding-bottom: 22px;
    }

    .novidades{
        margin-top: 254px;
        margin-left: 0px;
    }

    .sem-novidade{
        margin-top: 254px;
        margin-left: 0px;

    }

    .botao-saber-mais {
        margin-left: 0px;
        margin-top: 20px;
}

.texto-cabecalho {
    margin-left: 0px !important;
}

.titulo-cabecalho {
  
    margin-left: 0px !important;
    
}


.margin-right-btn1{
    margin-right:100px;
    margin-top: 105px;
}


.margin-right-btn2{
    margin-right:24px;
    margin-top: 105px;
}

.margin-right-btn3{
    margin-right:-41px;
    margin-top: 105px;
}

.margin-right-btn4{
    margin-right:-106px;
    margin-top: 105px;
}
.sitio-certo {
    bottom: 109px !important;
    margin-left: 610px !important;
    }


    /*Home*/

    .header2 {
        max-width: 360px;
        height: 1210px;
        margin-top: 0px;
    }
    .caixa-branca {
    
        max-width: 360px;
        height: 1210px;
        margin-top: 15px;
        margin-left: 0px;
    }

    .imagem-bem-vindo{
        margin-top: 73px;
        margin-left: 24.5px !important;
        box-shadow: 0px 13px 11px grey;
    }

    .titulo-bem-vindo{
        margin-top: 35px;
        margin-left: 24.5px !important;
    }

    .texto-bem-vindo{
        margin-top: 20px;
       margin-bottom: 0px;
       width: 311px;
    }

    .bem-vindo-botao-saber-mais{
        margin-top: 40px;
        margin-left: 100px;
        width: 101px;
        height: 26px;

    }

    .bem-vindo-botao-saber-mais:hover{
        background-color: #707070;
    }


    .titulo-area-ultimos-livros{
        margin-top: 40px;
        margin-left: 24.5px;
        margin-right: 24.5px;
    }

    .texto-area-ultimos-livros{
        margin-top: 20px;
        margin-left: 24.5px;
        margin-right: 24.5px;
    }

    .destaques{
        margin-left: 24.5px;
        margin-top: 282px;
        margin-right: 24.5px;
        margin-bottom: 0px;
 
    }

    .caixa1{
        height: auto;
        margin-top: 96px;
        max-width: 218.69px !important;
        margin-left: 46px;
        margin-bottom: 60px;
    }

    .caixa1 img{
        height: 288px;
    }

    .titulo-de-destaque{
        margin-top: 30px;
     

    }

    .texto-destaque{
        margin-top: 14px;
        margin-right: 24.5px;
    }

    .botao-destaques{
        margin-top: 15px;
        width: 101px;
        height: 26px;
        margin-left: 117.69px;
    }

    .caixa2{
        height: auto;
        max-width: 218.69px !important;
        margin-left: 46px;
        margin-bottom: 60px;
    }

    .caixa2 img{
        height: 288px;
    }

    .caixa3{
        height: auto;
        max-width: 218.69px !important;
        margin-left: 46px;
        margin-bottom: 60px;
    }

    .caixa3 img{
        height: 288px;
    }

    .linha-separadora-rodape{
        margin-bottom:60px ;
        margin-left: 68.5px;
        width: 217.34px;
    }

    #barra-de-nav-mobile{
        display: none;
    }

    #linha-sep-mobile{
        display: none;
    }

    .contactos{
        width: 360px;
        margin-left: 111px;
    }

    .rodape-tipos-de-campo{
        margin-left: -26px;
        text-align: center;
        max-width: 360px !important;
    }

    .margem-esquerda-30{
        text-align: center;
     
    }

    .caixa4{
        margin-left: -109px;
    }

    .caixa5{
        margin-left: -56px;
    }

    .caixa6{
        margin-left:-18px ;
    }

    .redes-sociais-rodape{
        margin-left: -209px;
        position: absolute;
        margin-top: 315px;
        width: 360px;
    }

    .caixa7{
        margin-top: 175px;
        margin-left: -154px;
    }
    .caixa8{
        margin-top: 175px;
        margin-left: -84px;
    }
    .caixa9{
        margin-top: 175px;
        margin-left: -15px;
    }

    .livro-de-reclamacoes{
        margin-top: 184px;
        margin-left: 59px;
    }


    .politica-mobile{
        margin-top: 42px;
        margin-left: -437px;
    }

    .copyright{
        text-align: center;
        width: 237px;
        margin-left: 433px;
        margin-bottom: 60px;
    }




    /*autor*/


.header4{
    min-height: 130px;
    max-width: 360px;
    
}

.caixa-branca-autor{
    min-height: 157px;
    max-width: 360px;
    margin-left: 0px;
    margin-top:16px ;
}

.autor{
    margin-top: 50px;
    margin-left: 48px;
    line-height: 8px;
}

.sobre-mim{
    margin-top: 10px;
    margin-bottom: 14px;
    width: 220px;
    line-height: 25px;
}


.header5{
    margin-top: 60px;
    max-width:360px;
    margin-left: 48px;
}

.img-autor{
    width: 286px;
    margin-left: 0px;
}

.area-texto{
    margin-left: 0px;
    width: 286px;
}

.voltar-atras{
    margin-top: 20px;
}

#mais{
    display: none;
}

.ver-mais{
    margin-top: 40px;
}

.ver-mais-margin{
    margin-top: 40px !important;
    margin-bottom: 0px !important;
}

.voltar-atras-margin{
    margin-top: 20px !important;

}

/*Livros-4*/


.header6{
    margin-left: 0px;
    margin-top: 60px;
}


.imagem-livro1{
    width: 213px;
    height: 330px;
    margin-left: 0px;
    margin-right: 73.5px;
    margin-bottom: 40px;
}

.area-texto-livro1{
    margin-left: 73.5px;
    width: 213px;
    margin-bottom: 0px;
}

.voltar-atras-livro{
    margin-top: 40px;
    margin-left: 114px !important;
    width: 132px;
    height: 30px;
}


/*imprensa*/

.espaço-entre-linhas{
    line-height: 23px !important;
}



.caixa-imprensa{
    padding: 0px;
}

.linha-separadora-imprensa{
    margin-top: 10px;
    stroke: 1px;
    color: #A97339 ;
    width: 247px;
    margin-bottom: 0px;
}


.data-de-publicacao{
    margin-top: 10px;
    margin-right: 55px !important;
    width: auto;
    margin-bottom: 60px;
}

.imagem-imprensa{
    width :247px;
}


.texto-imprensa{
    width:247px;
    margin-bottom: 50px;
}

.margem-seta-esquerda{
    width:10px ;
    height: 35px;
    margin-right: 26px !important;
}
.margem-seta-direita{
    width:10px ;
    height: 35px;
    margin-left: 0px;
}


.margem-numeracao {
    margin-right: 26px;
}



/*Contactos*/

.header8{
    width: 360px !important;
}

.caixa10{
    width: 159px;
    margin-top: 60px;
    margin-left: 119px;
    margin-bottom: 65px;
}

.caixa11{
    width: 159px;
    margin-left: 119px !important;
    margin-bottom: 65px !important;
}

.caixa12{
    width: 159px;
    margin-left: 119px !important;
    margin-bottom: 65px !important;
}


.hr{
    max-width: 360px;
    margin-left: 150px;
    
}

.horario{
    margin-left: 20px;
    
}
}